<!DOCTYPE html>
<html>
<head>
<link href="<%= route %>/App_Styles.css" rel="stylesheet" type="text/css"/> 		
</head>
<body>
	
	<div class ="AppContainer"> 
		<h1> Passport Login and Registration </h1> 			 
		
		
		<a href = "<%= route %>/Login" ><button> Login  </button></a>
		
		<a href = "<%= route %>/SignUp" ><button> Sign Up </button></a>
		
		
	</div>		 	
</body>
</html>