<!DOCTYPE html>
<html>
<head>
<link href="http://localhost:3000/App_Styles.css" rel="stylesheet" type="text/css"/> 		
</head>
<body>	
	<div class ="AppContainer"> 
		<h1> An account activation link has been sent to your email. Please check your email and, click the link to activate your account. </h1> 			 		
	</div>		 	
</body>
</html>