<!DOCTYPE html>
<html>
<title>Main Page </title>
<link href="http://localhost:3000/App_Styles.css" rel="stylesheet" type="text/css"/> 		
<head>
</head>
<body><div class ="AppContainer"> 

  <h1> Main page </h1> 			 
  <p> Email: <%- Email %> </p>
  <p> User: <%- User %> </p>
  <a href ="/Logout"> <button> Logout </button></a>

</div></body>
</html>